<link rel="stylesheet" href="/css/home.css" />
<div class="jumbotron feature">
	<div class="container">
		<h1><%= title %></h1>
		<p>Post your project here</p>
	</div>
</div>
<div id="home-container">
	<section id="feed-posts">
		<div class="">
			<h4 class="text-center">Posts</h4>

			<div id="posts-list-container">
				<% if(locals.user){ %>
				<a class="add-post" href="posts/createpost">Add Post</a>
				<% } %>
				<ul>
					<% for(post of posts){ %> <%- include('_post') -%> <%} %>
				</ul>
			</div>
		</div>
	</section>
	<section id="user-friends">
		<h4>Users</h4>
		<% for(u of all_users){%>
		<p>
			<a href="/users/profile/<%= u.id %>"><%= u.name %></a>
		</p>
		<% } %>
	</section>
</div>

<%- include('_footer'); %>
