<!-- new -->
<section id="feed-posts">
	<div class="jumbotron feature">
		<div class="container">
			<h1><%= title %></h1>
			<p>Post your project here</p>
		</div>
	</div>
	<div class="container">
		<h4 class="text-center">Posts</h4>
		<% if (locals.user ){ %>
		<form action="/posts/create" id="new-post-form" method="POST">
			<textarea
				name="content"
				rows="3"
				cols="30"
				placeholder="Enter content"
			></textarea>
			<input type="submit" value="Post" />
		</form>
		<% } %>
		<div class="row">
			<!-- Product 1 -->

			<% for(post of posts){%>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="images/pepper.jpg" alt="" />
					</a>
					<div class="caption">
						<p>
							<%= post.content %>
							<br />
							<small><%= post.user.name %> </small>
						</p>
						<div class="post-comment">
							<% if(locals.user){ %>
							<form action="/comments/create" method="POST">
								<input
									type="text"
									name="content"
									placeholder="Type Here to add comment..."
									required
								/>
								<input type="hidden" name="post" value="<%= post._id %>" />
								<input type="submit" value="Add Comment" />
							</form>

							<% } %>
						</div>
						<div class="post-comments-list">
							<ul id="post-comments-<%= post._id %>">
								<% for (comment of post.comments){%>

								<p>
									<%= comment.content %>
									<br />
									<small> <%= comment.user.name %> </small>
								</p>
								<%} %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<%} %>
		</div>
	</div>
</section>
